h1{
    color: #2FB03C;
    text-align: center;
    font-family: "Press Start 2P", serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    border-style: solid;
    border-color: #2FB03C;
    padding: 10px;
}

.screen{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}