.question-container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.question-box{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 75%;
    height: 100%;
    margin-top: 50px;
    font-family: "Anonymous Pro", serif;
    font-weight: 700;
    font-size: 30px;
    margin-left: 13%;
}

.question-number{
    margin: 2%;
    max-width: 10%;
}

.question{
    display: grid;
    justify-content: center;
    align-items: center;
}

.question-text{
    padding-right: 8%;
}

.answers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-button-div{
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    max-width: 60%;
    height: 90%;
    margin: 20px;
}

.answer-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display: flex;

    align-items: center;
}

.answer-letter{
    background-color: #F8AEB1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px;
}

.last-question{
    font-family: "Herr Von Muellerhoff", serif;
    font-weight: 400;
    font-style: normal;
}

.question-4{
    font-family: "Herr Von Muellerhoff", serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    padding-right: 10%;
}